.img-title{
    height: 80px;
    @media (min-width:576px) {
        height: 133px;
    }
}
.bg-cover{
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
}
.img-step{
    width: 100px;
    height: 100px;
    @media (min-width:576px) {
        width: 203px;
        height: 203px;
    }
}
.album-img{
    height: 300px;
    object-fit: contain;
    @media (min-width:376px) {
        height: 600px;
    }
}
.news-img{
    height: 135px;
    object-fit: contain;
}
.ranking-img{
    max-height: 134px;
}