.tooltips {
    border: 3px solid #3A3A3A;
    height: 117px;
    margin-bottom: 20px;
    position: relative;
    width: 35px;
    background-color: $white;
}

.tooltips:before {
    border-color: #3A3A3A transparent transparent;
    border-style: solid solid solid;
    border-width: 20px 12px 20px 12px;
    bottom: -42px;
    content: "";
    height: 0px;
    position: absolute;
    left: 3px;
    width: 0px;
}

.tooltips:after {
    border-color: #fff transparent transparent;
    border-style: solid solid solid solid;
    border-width: 20px 12px 20px 12px;
    content: "";
    height: 0px;
    position: absolute;
    left: 3px;
    bottom: -37px;
    width: 0px;
}